
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



:root
{
    --bg-color:#fff;

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
}

body {
    font-family: "poppons",sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;

}

nav ul {

    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 800px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.btn2{
    display: inline-block;
    background-color: #FF6B00;
    color: #fff;
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
    margin-left: 90px;
}
section{
    overflow: hidden;
    padding: 80px 0;
}

/*--------------home secion Start---------------*/

.home-text{
    margin-top: -500px;
    color: #FEFEFE;
    margin-left: 50px;
}

.home-text h1{
    font-size: var(--big-font );
    margin-top: -25px;
    color: wheat;
}

.home-text h2{
    font-size: var(--medium-font );
    font-weight:20;
    color: honeydew ;
    margin-bottom: 65px;
}
/*.home-text h3 {*/
/*    font-size: var(--medium-font);*/
/*    font-weight: 100;*/
/*   */
/*}*/

.home-text #enjoy{
    /*font-size: 1.1rem;*/
    /*font-size: var(--medium-font);*/
    font-weight: 300;
    margin-top: 20px;
}

.home-content .home-img img{
    width:100%;
    /*height:100% ;*/
    /*display: flex;*/
    margin-top: -88px;
}
.btn{
    display: inline-block;
    background-color: #FF6B00;
    color: #fff;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;

}
.easy{
    position: absolute;
    margin-top: -670px;
    margin-left: 50px;
    /*color: wheat;*/
    color: #FEFEFE;
    font-size: var(--medium-font);
}
.easy span{
    color:lightgreen ;
}
/*--------------home secion End---------------*/
/*-----------about Section Start------------*/
.about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    gap: 1rem;
}
.heading {
    text-align: center;

}
.heading h2{
    font-size: 30px;
}
.heading span{
    font-size:45px;
    color:rgb(2, 166, 70);
    font-weight: 100;
    /*font-style: italic;*/
 font-family: Centaur;
}
.about-text {
    position: absolute;
    font-size: var(--p-font);
    margin-left: 670px;
    margin-top: 60px;

}
.about-text h3 {
    font-size: 20px;
    margin-top: 20px;
}
.about-text h2 {
    font-size: 30px;
    color:#FF6B00 ;
}
.about-text h4 {
    font-size: 30px;
    color:red ;
}


.about-img img{
    width: 35%;
    height: 45%;
    border-radius: 0.8rem;
    margin-left: 100px;
    position: absolute;
    margin-top: 60px;
}
/*-----------about Section End------------*/
/*-------------car Section start------------*/

.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span {
    font-weight: 500;
}

.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form-container .btn {
    font-weight: 500;
    height: 40px;
    margin: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;

}

.form-container .btn:hover {
    background: rgba(206, 18, 18, 0.8);
}
.center{
    margin-right: 500px;
}


.cars .nav-tabs {
    border: 0;
}

.cars .contentDiv {
    display: inline-flex;
}


.heading2 {
    text-align: center;
    margin-top: 15px;
    /*position: absolute;*/
    /*!*margin-bottom: 10px;*!*/
}
.heading2 h2{
    font-size: 30px;
}
.heading2 span{
    font-size:45px;
    color:rgb(2, 166, 70);
    font-weight: 100;
    /*font-style: italic;*/
    font-family: Centaur;
}

.cars .center{

   margin-bottom: 50px;
}

/*==========================*/

